.ui.container.banner {
    background-image: url("/img/feet-up.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
    padding-top: 7em;
    padding-bottom: 4em;

}

.ui.container.login {
    padding-bottom: 2em;
    margin-top: 5em;
    margin-bottom: 8em;
}

.ui.container.unconfirmed {
    padding-bottom: 2em;
    margin-top: 14em;
    margin-bottom: 14em;
}

.ui.container.admin {
    padding-bottom: 2em;
    margin-top: 4em;
    margin-bottom: 4em;
}

h1.header {
    text-align: center;
    color: white;
}

h2.header {
    text-align: center;
    color: white;
    margin-top: 0;
}

h1.header.query-feed {
    text-align: center;
}

.ui.fluid.menu {
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    background-color: unset;
    position: absolute;
    z-index: 1;
    margin-top: 1rem;
}

.ui.fluid.inverted.menu {
    background-color: #232a34;
    border-radius: 0;
    position: relative;
    margin-top: 0;
}

.ui.menu .active.item {
    font-weight: 600;
    color: white;
}

.ui.menu .item {
    font-weight: 400;
    color: white;

}

.ui.menu .item::before {
    background-color: unset;
}

.ui.menu .item.disabled, .ui.menu .item.disabled:hover {
    color: rgb(255, 255, 255) !important;
    font-weight: bolder;
}

.ui.grid {
    margin-top: 0;
}

.ui.grid > .row {
    padding-top: 0rem;
}

.ui.grid.login {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row.increased.padding, .feed.increased.padding {
    padding-top: 5em;
}


.ui.search .prompt {
    border-radius: inherit;
}

.ui.category.search .results {
    width: 100%;
}

/*******************************
            Header
*******************************/


/* Standard */
.ui.header {
    border: none;
    margin: calc(2rem - 0.14285714em) 0em 1rem;
    padding: 0em 0em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
}

.ui.header:first-child {
    margin-top: -0.14285714em;
}

.ui.header:last-child {
    margin-bottom: 0em;
}

/*--------------
   Sub Header
---------------*/

.ui.header .sub.header {
    display: block;
    font-weight: normal;
    padding: 0em;
    margin: 0em;
    font-size: 1rem;
    line-height: 1.2em;
    color: rgba(0, 0, 0, 0.6);
}


/*******************************
            Footer
*******************************/

@media (min-height: 320px) {
    .ui.footer.segment.home-page { /* Increased specificity for SO snippet priority */
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}


/*******************************
          Query feed
*******************************/

.ui.feed > .event > .label + .content {
    margin-left: 2.5em;
}

.ui.small.label.other-product-or-service {
    background-color: #cccccc;
    text-align: center;
    width: 8em;
    height: -moz-available;
}

.ui.small.label.discovery-banking {
    background-color: #daddaf;
    text-align: center;
    width: 8em;
    height: -moz-available;
}

.ui.small.label.discovery-car-and-home-insurance {
    background-color: #d8bc8f;
    text-align: center;
    width: 8em;
    height: -moz-available;
}

.ui.small.label.discovery-credit-card {
    background-color: #e2acbb;
    text-align: center;
    width: 8em;
    height: -moz-available;
}

.ui.small.label.discovery-gap-cover {
    background-color: #fbc97f;
    text-align: center;
    width: 8em;
    height: -moz-available;
}

.ui.small.label.discovery-investments {
    background-color: #8fb8de;
    text-align: center;
    width: 8em;
    height: -moz-available;
}

.ui.small.label.discovery-life-insurance {
    background-color: #ff897c;
    text-align: center;
    width: 8em;
    height: -moz-available;
}

.ui.small.label.discovery-medical-aid {
    background-color: #79cec8;
    text-align: center;
    width: 8em;
    height: -moz-available;
}

.ui.small.label.discovery-vitality {
    background-color: #bef393;
    text-align: center;
    width: 8em;
    height: -moz-available;
}


.header.extra.padding{
    margin-bottom: 1em;
}