<p>Thanks for signing up!</p>
<p>Please follow this link to confirm your email address:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p>Once your email address has been confirmed the team will review your application.
    You will be contacted via this email address once a decision has been made.</p>
<br>
<p>Cheers</p>
<p>The advisory team</p>