<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
