<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.semanticui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.semanticui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/select.semanticui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/editor.semanticui.min.css') }}">

<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.editor.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.semanticui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.semanticui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor.semanticui.min.js') }}"></script>
