<div class="event">
    <a href="{{ url_for('view_by_tag', tag=query.tag) }}"
       class="ui small label {{ query.tag|default('Other product or service', true)|replace(" ", "-")|lower }}">
        {{ query.tag }}
    </a>
    <div class="content">

        <div class="date">
            {{ query.timestamp }}
        </div>
        <div class="summary">
            {{ query.title }}
        </div>
        <div class="extra text">
            <div class="ui segment">
                {{ query.description }}
            </div>
        </div>
        <div class="extra text">
            <div class="ui success message">
                {{ query.answer }}
            </div>
        </div>
    </div>
</div>

<div class="ui divider"></div>
