{% extends "base.html" %}

{% block content %}
    <div class="ui one column grid login">
        <div class="row">
            <div class="four wide column"></div>
            <div class="eight wide column">
                <div class="ui fluid container segment unconfirmed">
                    <h1>Welcome!</h1>
                    <br>
                    <p>You have not confirmed your account. Please check your inbox (and your spam folder) - you should
                        have received an
                        email with a confirmation link.</p>
                    <p>Didn't get the email? <a href="{{ url_for('resend_confirmation') }}">Resend</a>.</p>
                </div>
            </div>
            <div class="four wide column"></div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    // toastr notification settings
    toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": true,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
    }


    // initialise toast for flash message
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% for category, message in messages %}
                    toastr.{{ category }}("{{ message }}")
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}