{% extends "base.html" %}

{% block content %}
    <div class="ui one column grid login">
        <div class="row">
            <div class="three wide column"></div>
            <div class="ten wide column">
                <div class="ui fluid container segment unconfirmed">
                    <h1>Account options</h1>
                    <br>
                    <p>Placeholder content for the account page.</p>
                    <p>[Todo]: add brief bio.</p>
                    <p>Include: </p>
                    <ul>
                        <li>name</li>
                        <li>name</li>
                        <li>surname</li>
                        <li>email</li>
                        <li>contact number</li>
                        <li>affiliation</li>
                        <li>number of queries solved (possibly in a graphical format)</li>
                        <li>number of queries per category</li>
                        <li>average response time</li>
                    </ul>

                    <p>[Todo]: add option to change password.</p>
                    <p>[Todo]: add option to change email.</p>
                    <p>[Todo]: add option to change contact.</p>
                    <p>[Todo]: add option to change affiliation.</p>
                </div>
            </div>
            <div class="three wide column"></div>

        </div>
    </div>

{% endblock %}
