{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% include '_offline-imports-datatables.html' %}
{% endblock %}

{% block content %}
    <div class="ui one column grid login">
        <div class="row">
            <div class="two wide column"></div>
            <div class="twelve wide column">
                <div class="ui fluid container admin">
                    <div class="ui huge centered header extra padding">Respond to a query</div>

                    <table id="query-table" class="display" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Answer</th>
                            <th>Done</th>
                            <th>Timestamp</th>
                        </tr>
                        </thead>
                    </table>

                    <div class="ui huge centered header extra padding">Contact a client</div>

                    <table id="client-table" class="display" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Client name</th>
                            <th>Client contact</th>
                            <th>Query title</th>
                            <th>Query description</th>
                            <th>Query category</th>
                            <th>Has been contacted?</th>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div class="two wide column"></div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    var editor; // use a global for the submit and return data rendering in the examples

    $(document).ready(function() {
    editor = new $.fn.dataTable.Editor( {
    ajax: {
    create: {
    type: 'POST',
    url:  '/api/queries'
    },
    edit: {
    type: 'PUT',
    url:  '/api/queries?id=_id_'
    },
    remove: {
    type: 'DELETE',
    url:  '/api/queries?id=_id_'
    }
    },
    table: "#query-table",
    idSrc:  'id',
    fields: [ {
    label: "Title:",
    name: "query.title"
    }, {
    label: "Description:",
    name: "query.description"
    },{
    label: "Category:",
    name: "query.tag",
    type: "select"
    },{
    label: "Answer:",
    name: "query.answer",
    type: "textarea"
    },{
    label: "Done:",
    name: "query.done",
    type: "select"
    }]
    } );

    // Activate an inline edit on click of a table cell
    $('#query-table').on( 'click', 'tbody td:not(:first-child)', function (e) {
    editor.inline( this );
    } );

    $('#query-table').DataTable( {
    dom: "Bfrtip",
    ajax: "/api/queries",
    order: [[ 1, 'asc' ]],
    columns: [
    {
    data: null,
    defaultContent: '',
    className: 'select-checkbox',
    orderable: false
    },
    { data: "query.title" },
    { data: "query.description" },
    { data: "query.tag" },
    { data: "query.answer" },
    { data: "query.done" },
    { data: "query.timestamp" }
    ],
    select: {
    style:    'os',
    selector: 'td:first-child'
    },
    buttons: [
    { extend: "create", editor: editor },
    { extend: "edit",   editor: editor },
    { extend: "remove", editor: editor }
    ]
    } );

    var editor_clients; // use a global for the submit and return data rendering in the examples

    editor_clients = new $.fn.dataTable.Editor( {
    ajax: {
    edit: {
    type: 'PUT',
    url:  '/api/clients?id=_id_'
    }
    },
    table: "#client-table",
    idSrc:  'id',
    fields: [
    {
                label:     "Contacted:",
                name:      "contacted",
                type:      "checkbox",
                separator: "|",
                options:   [
                    { label: '', value: 1 }
                ]
            }
    ]
    } );


    $('#client-table').DataTable( {
    dom: "Bfrtip",
    ajax: "/api/clients",
    order: [[ 0, 'asc' ]],
    columns: [
    { data: "contact_name" },
    { data: "contact_info" },
    { data: "title" },
    { data: "description" },
    { data: "tag" },
    {
        data:   "contacted",
        render: function ( data, type, row ) {
            if ( type === 'display' ) {
                return '<input type="checkbox" class="editor-active">';
            }
            return data;
        },
        className: "dt-body-center"
    }
    ],
    select: {
    style:    'os',
    selector: 'td:not(:last-child)'
    },
    buttons: [
    //'copy', 'excel', 'pdf'
    //{ extend: "edit",   editor: editor_clients },
    ],
    rowCallback: function ( row, data ) {
        // Set the checked state of the checkbox in the table
        $('input.editor-active', row).prop( 'checked', data.contacted == 1 );
    }
    } );

    $('#client-table').on( 'change', 'input.editor-active', function () {
    editor_clients
        .edit( $(this).closest('tr'), false )
        .set( 'contacted', $(this).prop( 'checked' ) ? 1 : 0 )
        .submit();
    } );

    } );
{% endblock %}