<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance Advisor</title>

    {% block head %}
        {% include '_offline-imports-base.html' %}
    {% endblock %}

</head>
<body>
{% block menu %}
    <div class="ui fluid inverted menu">
        <a class="active item" href="{{ url_for('home') }}">
            Home
        </a>
        <a class="item" href="{{ url_for('contact') }}">
            Contact
        </a>
        <div class="right menu">
            {% if current_user.is_anonymous %}
                <a class="item" href="{{ url_for('login') }}">Adviser login</a>
            {% else %}
                <a class="disabled item">{{ current_user.username }}</a>

                {% if current_user.confirmed %}
                    <div class="ui dropdown item">
                        Adviser Admin
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="{{ url_for('admin') }}">Query management</a>
                            <a class="item" href="{{ url_for('account') }}">Account options</a>
                        </div>
                    </div>
                {% endif %}

                <a class="item" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <div class="ui inverted vertical footer segment home-page">
        <div class="ui container">
            Disclaimer: this service is operated by an independent group of financial advisors. All Rights Reserved.
        </div>
    </div>
    {#    <div class="ui inverted vertical footer segment">#}
    {#        <div class="ui container">#}
    {#            <div class="ui stackable inverted divided equal height stackable grid">#}
    {#                <div class="three wide column">#}
    {#                    <h4 class="ui inverted header">About</h4>#}
    {#                    <div class="ui inverted link list">#}
    {#                        <a href="#" class="item">Sitemap</a>#}
    {#                        <a href="#" class="item">Contact Us</a>#}
    {#                        <a href="#" class="item">Religious Ceremonies</a>#}
    {#                        <a href="#" class="item">Gazebo Plans</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="three wide column">#}
    {#                    <h4 class="ui inverted header">Services</h4>#}
    {#                    <div class="ui inverted link list">#}
    {#                        <a href="#" class="item">Banana Pre-Order</a>#}
    {#                        <a href="#" class="item">DNA FAQ</a>#}
    {#                        <a href="#" class="item">How To Access</a>#}
    {#                        <a href="#" class="item">Favorite X-Men</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="seven wide column">#}
    {#                    <h4 class="ui inverted header">Footer Header</h4>#}
    {#                    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

</body>
<script>

    $('.ui.dropdown')
    .dropdown()
    ;

    {% block scripts %}
    {% endblock %}
</script>

</html>