{% extends "base.html" %}

{% block content %}
    <div class="ui one column grid login">
        <div class="row">
            <div class="three wide column"></div>
            <div class="ten wide column">
                <div class="ui fluid container segment unconfirmed">
                    <h1>Contact us</h1>
                    <br>
                    <p>Placeholder content for the contact us page.</p>
                    <p>[Todo]: Sean to write up content for this page or confer requirements.</p>
                </div>
            </div>
            <div class="three wide column"></div>

        </div>
    </div>

{% endblock %}
