{% extends "base.html" %}

{% block content %}

    <div class="ui one column grid">
        <div class="row">
            <div class="column">
                <div class="ui fluid container banner">

                    <div class="ui text container">
                        <h1 class="ui inverted header">
                            Ask for help with a Discovery product
                        </h1>
                        <h2 class="ui inverted header">get an answer within 24 hours</h2>

                        <div class="ui center aligned basic segment">
                            <div class="ui category search">
                                <div class="ui icon fluid input">
                                    <input class="prompt" type="text" placeholder="Example: How do I activate...">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                            <div class="ui horizontal divider">
                                Or
                            </div>
                            <div id="new-question" class="ui green labeled icon button">
                                Ask a new question
                                <i class="add icon"></i>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal transition hidden">
        <i class="close icon"></i>
        <div class="header">
            Ask us a question
        </div>
        <div class="content">
            <div class="ui form">
                <div class="required field">
                    <label>Question title</label>
                    <input type="text" name="title" placeholder="Activating my gym benefit">
                </div>
                <div class="required field">
                    <label>Question detail</label>
                    <textarea rows="2" name="description"
                              placeholder="How can I activate my gym benefit from the app and how long will it take to apply?"></textarea>
                </div>
                <div class="required field">
                    <label>Product the question pertains to</label>
                    <select class="ui dropdown" name="tag">
                        <option value="">Select a product or service</option>

                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="contact_name" placeholder="Sean Peters">
                </div>
                <div class="field">
                    <label>Contact information (email or mobile number)</label>
                    <input type="text" name="contact_info" placeholder="sean.peters1@email.com | 084 123 4567">
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" checked="checked" name="contact_me" tabindex="0" class="hidden">
                        <label>It's okay to contact me.</label>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui button cancel query">Cancel</div>
                    <div class="ui green button submit query">Submit</div>
                    <div class="ui error message"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="ui one column grid">
        <div class="row increased padding">
            <div class="three wide column"></div>
            <div class="ten wide column">
                <div class="ui three column grid">
                    <div class="two wide column"></div>
                    <div class="twelve wide column">
                        <div class="ui container">
                            <h1 class="ui header query-feed">
                                <div class="content">
                                    Recently Asked
                                    <div class="sub header">The following feed contains some of the questions we have
                                        been asked recently. Our team of professionals have been hard at work answering
                                        them.
                                    </div>
                                </div>
                            </h1>
                        </div>
                    </div>
                    <div class="two wide column"></div>
                </div>
                <div class="ui container query-feed">
                    <div class="ui feed increased padding">
                        {% for query in queries %}
                            {% include '_post.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="three wide column"></div>

        </div>
        <div class="row">
            <div class="column"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    // toastr notification settings
    toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": true,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
    }


    // initialise toast for flash message
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% for category, message in messages %}
                    toastr.{{ category }}("{{ message }}")
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endwith %}


    // ajax calls
    callAjax = function (uri, method, data) {
    let username = "davis",
    password = "python";

    var request = {
    url: uri,
    type: method,
    contentType: "application/json",
    accepts: "application/json",
    cache: false,
    dataType: 'json',
    data: JSON.stringify(data),
    beforeSend: function (xhr) {
    xhr.setRequestHeader("Authorization",
    "Basic " + btoa(username + ":" + password));
    },
    error: function (jqXHR) {
    console.log("ajax error: " + jqXHR.status);
    }
    };

    return $.ajax(request);
    };

    // initializes search bar with default endpoint /search/{query}
    $('.ui.search')
    .search({
    // change search endpoint to a custom endpoint by manipulating apiSettings
    apiSettings: {
    url: 'api/search?query={query}'
    },
    type: 'category'
    });

    // form modal functions
    function hide_modal() {
    $('.small.modal').modal('hide');
    }

    function show_modal() {
    $('.small.modal').modal('show');
    }

    var modalForm = $('.ui.form')
    .form({
    on: 'blur',
    fields: {
    title: 'empty',
    description: ['empty', 'maxLength[400]'],
    tag: 'empty',
    }
    })
    ;
    $('#new-question').click(function () {
    // reset form and set the title to the search term he user already typed
    let existing_question = $('.category.search .input input').val();
    modalForm.form('reset');
    modalForm.form('set value', 'title', existing_question);

    show_modal();
    });

    $('.cancel.query').click(function () {
    hide_modal();
    });

    $('.submit.query').click(function () {

    if (modalForm.form('is valid')) {
    // POST query
    let data = modalForm.form('get values'),
    uri = '/api/queries';

    callAjax(uri, 'POST', data).done(function () {
    hide_modal();
    setTimeout(function () {
    toastr.success('Your query has been submitted to our team of professionals.\n' +
    'You will receive an answer within 24 hours.', 'Query submitted successfully')
    }, 300)
    })
    }
    });

    // initialize semantic UI components
    $('.ui.checkbox')
    .checkbox()
    ;

    $('.ui.dropdown')
    .dropdown()
    ;

{% endblock %}

