{% extends "base.html" %}

{% block content %}
    <div class="ui one column grid login">
        <div class="row">
            <div class="five wide column"></div>
            <div class="six wide column">
                <div class="ui fluid container segment login">
                    <h1>Register to join the advisory team</h1>
                    <div class="ui form error">

                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <div class="field">
                                {{ form.username.label }}
                                {{ form.username(size=32) }}
                            </div>
                            {% for error in form.username.errors %}
                                <div class="ui error message">
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}

                            <div class="field">
                                {{ form.email.label }}
                                {{ form.email(size=64) }}
                            </div>
                            {% for error in form.email.errors %}
                                <div class="ui error message">
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}

                            <div class="field">
                                {{ form.password.label }}
                                {{ form.password(size=32) }}
                            </div>
                            {% for error in form.password.errors %}
                                <div class="ui error message">
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}
                            <div class="field">
                                {{ form.password2.label }}
                                {{ form.password2(size=32) }}
                            </div>
                            {% for error in form.password2.errors %}
                                <div class="ui error message">
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}
                            {{ form.submit(class="ui large green fluid button") }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="five wide column"></div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": true,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "8000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
    }

    // initialise toast for flash message
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% for category, message in messages %}
                    toastr.{{ category }}("{{ message }}")
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}